<?xml version="1.0"?>
<info>
    <!-- windowWidth/windowHeight is for width and height of window -->
    <windowWidth>960</windowWidth>
    <windowHeight>960</windowHeight>
    <!-- Resource URL, can be remote or local -->
    <url>http://xxx.xxx.xxx.xxx:xxx/OMAFLive_8k/Test.mpd</url>
    <!-- sourceType 0 is for DashSource -->
    <sourceType>0</sourceType>
    <!-- enableExtractor 0 is false and 1 is true -->
    <enableExtractor>0</enableExtractor>
    <StreamDumpedOption>0</StreamDumpedOption>
    <!-- viewport settings -->
    <viewportHFOV>80</viewportHFOV>
    <viewportVFOV>80</viewportVFOV>
    <viewportWidth>960</viewportWidth>
    <viewportHeight>960</viewportHeight>
    <!-- cache path -->
    <cachePath>/tmp/cache</cachePath>
    <!-- log level: INFO < WARNING < ERROR < FATAL -->
    <minLogLevel>WARNING</minLogLevel>
    <!-- limited video decoder resolution -->
    <maxVideoDecodeWidth>2560</maxVideoDecodeWidth>
    <maxVideoDecodeHeight>2560</maxVideoDecodeHeight>
    <!-- for WebRTC parameters -->
    <resolution>8k</resolution>
    <server_url>http://xxx.xxx.xxx.xxx:xxx</server_url>
    <ProjectionType>ERP</ProjectionType>
    <frameRate>30</frameRate>
    <frameNum>100</frameNum>
    <enableDump>false</enableDump>
    <predict enable="0">
     <!-- <plugin>libViewportPredict_LR.so</plugin>
     <path>../plugins/ViewportPredict_Plugin/predict_LR/</path> -->
    </predict>
    <intimeviewportupdate enable="0">
     <responseTimesInOneSeg>2</responseTimesInOneSeg>
     <maxCatchupWidth>2560</maxCatchupWidth>
     <maxCatchupHeight>2560</maxCatchupHeight>
    </intimeviewportupdate>
    <!-- <PathOf360SCVPPlugins>/usr/local/lib/libPanZoomTileSelection.so</PathOf360SCVPPlugins> -->
</info>
