<?xml version="1.0"?>
<info>
    <!-- windowWidth/windowHeight is for width and height of window -->
    <windowWidth>960</windowWidth>
    <windowHeight>960</windowHeight>
    <!-- Resource URL, can be remote or local -->
    <url>http://xxx.xxx.xxx.xxx:xxx/OMAFLive_8k/Test.mpd</url>
    <!-- sourceType 0 is for DashSource -->
    <sourceType>0</sourceType>
    <!-- enableExtractor 0 is false and 1 is true -->
    <enableExtractor>0</enableExtractor>
    <!-- viewport settings -->
    <viewportHFOV>80</viewportHFOV>
    <viewportVFOV>80</viewportVFOV>
    <viewportWidth>960</viewportWidth>
    <viewportHeight>960</viewportHeight>
    <!-- cache path -->
    <cachePath>/tmp/cache</cachePath>
    <!-- for WebRTC parameters -->
    <resolution>8k</resolution>
    <server_url>http://10.67.112.207:3001</server_url>
    <ProjectionType>ERP</ProjectionType>
    <frameRate>30</frameRate>
    <frameNum>100</frameNum>
    <predict enable="0">
     <!-- <plugin>libViewportPredict_LR.so</plugin>
     <path>../plugins/ViewportPredict_Plugin/predict_LR/</path> -->
    </predict>
</info>
